body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(images/wood.jpg);
  overflow: hidden;
}

#btn-container {
  display: flex;
  justify-content: space-evenly;
  gap: 50px;
  flex-wrap: wrap;
  margin-top: 10px;
}

img {
  height: 250px;
  width: 350px;
}

.choice {
  all: unset;
  border: 5px;
  border-color: black;
  border-style: solid;
  max-height: 250px;
  max-width: 350px;
  transition: all 0.1s ease;
}

.clicked {
  transform: scale(1.1);
  box-shadow: 0 0 1rem #024b02;
  border-color: #024b02;
}

#scoreboard {
  font-family: 'Roboto', sans-serif;
  font-size: large;
  display: flex;
  flex-direction: column;
  background-color: rgba(128, 128, 128, 0.747);
  margin-top: 50px;
  padding: 10px 32px 20px;
  border-radius: 10px;
  transform: scale(1.1);
}

#scoreboard > h2 {
  text-decoration: underline;
}

.reset-btn {
  margin-top: 20px;
  font-size: medium;
  background-color: #88abd4a4;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.514);
  border-radius: 5px;
}

.reset-btn:hover {
  background-color: #88abd4e5;
}

.reset-btn:active {
  background-color: #88abd4e5;
  transform: translateY(2px);
}

ul {
  all: unset;
  list-style-type: none;
}

#message {
  font-family: 'Roboto', sans-serif;
  font-size: large;
  display: flex;
  /* flex-direction: column; */
  background-color: rgba(128, 128, 128, 0.747);
  margin-top: 30px;
  padding: 1px 32px 10px;
  border-radius: 10px;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.game-over {
  animation: scroll-down 10s linear infinite;
  background-color: rgba(255, 0, 0, 0.788);
  font-size: x-large;
  font-weight: bold;
  color: white;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.822);
  border-radius: 5px;
  padding: 5px;
}

@keyframes scroll-down {
  from {
    transform: translateY(-100vh);
  }
  to {
    transform: translateY(100vh);
  }
}
